**Program to reverse a number**

In [ ]:
num = int(input("Enter a number: "))
out = 0
while num > 0:
  out = out * 10 + num % 10
  num //= 10
print(f"Reversed number is {out}")

Enter a number: 1234
Reversed number is 4321

**Program to find the sum of first n natural numbers**

In [ ]:
n = int(input("Enter n: "))
sum_ = 0
for i in range(1, n + 1):
  sum_ += i
print(f"Sum is {sum_}")

Enter n: 5
Sum is 15

**Program to print sum of factors of a number**

In [ ]:
num = int(input("Enter number: "))
sum_ = 0
for i in range(1, num + 1):
  if num % i == 0:
    sum_ += i
print(f"Sum is {sum_}")

Enter number: 1234
Sum is 1854

**Program to print n terms of arithmetic sequence**

In [ ]:
a = int(input("Enter first element: "))
d = int(input("Enter common difference: "))
n = int(input("Enter n: "))
for i in range(n):
  print(a + i * d, end=" ")

Enter first element: 3
Enter common difference: 5
Enter n: 10
3 8 13 18 23 28 33 38 43 48

**Program to print n elements of fibonacci sequence**

In [ ]:
n = int(input("Enter n: "))
a = 0
b = 1
c = 1
print(1, end=" ")
for i in range(n - 1):
  c = a + b
  print(c, end=" ")
  a = b
  b = c

Enter n: 10
1 1 2 3 5 8 13 21 34 55

**Check whether number is palindrome**

In [ ]:
orig = int(input("Enter number: "))
num = orig
rev = 0
while num > 0:
  rev = rev * 10 + num % 10
  num //= 10
if rev == orig:
  print("Palindrome!")
else:
  print("Not palindrome")

Enter number: 12344
Not palindrome

**Program to check whether number is armstrong**

In [ ]:
orig = int(input("Enter number: "))
num = orig
sum_ = 0
while num > 0:
  sum_ += (num % 10) ** 3
  num //= 10
if sum_ == orig:
  print("Armstrong number!")
else:
  print("Not armstrong number.")

Enter number: 153
Armstrong number!

**Program to evaluate x^n**

In [ ]:
x = float(input("Enter x: "))
n = int(input("Enter n: "))
prod = 1
for i in range(n):
  prod *= x
print(f"x^n is {prod}")

Enter x: 3
Enter n: 2
x^n is 9.0

**Print first n odd numbers**

In [ ]:
n = int(input("Enter n: "))
for i in range(1, 2 * n + 1, 2):
  print(i, end=" ")

Enter n: 5
1 3 5 7 9

**Program to find GCD of two numbers**

In [17]:
n1, n2 = eval(input("Enter two numbers (seperated by comma): "))
if n1 % n2 == 0:
  print(f"GCD is {n2}")
else:
  while n2 != 0:
    remainder = n1 % n2
    n1 = n2
    n2 = remainder
    
if n2 == 0:
  print(f"GCD is {n1}")

Enter two numbers (seperated by comma): 100, 10
GCD is 10

**Program to print factorial of number**

In [19]:
n = int(input("Enter a number: "))
fac = 1
for i in range(1, n + 1):
  fac *= i
print(f"Factorial is {fac}")

Enter a number: 5
Factorial is 120

**Program to find the sum of the given series up to n terms. S = 1 - 4 + 9 - 16 + ....**

In [22]:
n = int(input("Enter the number of terms: "))
sum_ = 0
for i in range(1, n + 1):
  i = i * i
  if i % 2 == 0:
    i = -i
  sum_ = sum_ + i
print(f"Sum is {sum_}")

Enter the number of terms: 10
Sum is -55

**Program to check whether number is automorphic**

In [29]:
orig = int(input("Enter the number: "))
num = orig
sq = num ** 2
length = 0
while num > 0:
  num //= 10
  length += 1
if (sq - orig) % (10 ** length) == 0:
  print("Automorphic!")
else:
  print("Not automorphic.")

Enter the number: 34
Not automorphic.

**Print decimal equivalent of binary number**

In [32]:
num = int(input("Enter binary number: "))
dec = 0
i = 0
while num:
  dec += (2 ** i) * (num % 10)
  i += 1
  num //= 10
print(f"Decimal equivalent is {dec}")

Enter binary number: 1000
Decimal equivalent is 8