**Program to find average of three numbers**

In [6]:
avg = sum(map(float, input("Enter 3 numbers (seperated by space): ").split())) / 3
print(avg)

Enter 3 numbers (seperated by space): 1 2 5
2.6666666666666665

**Program to find sum and average of three numbers**

In [7]:
lst = map(float, input("Enter 3 numbers (seperated by space): ").split())
s = sum(lst)
avg = s / 3
print(f"Sum is {s}, average is {avg}")

Enter 3 numbers (seperated by space): 4 5 2
Sum is 11.0, average is 3.6666666666666665

**Program to convert time in seconds to hours minutes and seconds**

In [14]:
time = int(input("Enter time in seconds: "))
hours = time // 3600
time %= 3600
minutes = time // 60
time %= 60
print(f"Hours: {hours}, minutes: {minutes}, seconds: {time}")

Enter time in seconds: 3670
Hours: 1, minutes: 1, seconds: 10

**Program to find area and perimeter triangle**

In [17]:
from math import sqrt
sides = list(map(float, input("Enter sides of triangle (seperated by space): ").split()))
perimeter = sum(sides)
s = perimeter/2
area = sqrt(s * (s-sides[0]) * (s - sides[1]) * (s - sides[2]))
print(f"Perimeter is {perimeter}, area is {area}")

Enter sides of triangle (seperated by space): 3 4 5
Perimeter is 12.0, area is 6.0

**Program to find area of circle**

In [18]:
from math import pi
radius = float(input("Enter radius of circle: "))
area = pi * radius * radius
print(f"Area of circle is {area}")

Enter radius of circle: 5
Area of circle is 78.53981633974483

**Program to interchange two variables**

In [21]:
x, y = eval(input("Enter two numbers (seperated by comma): "))
x, y = y, x
print(x, y)

Enter two numbers (seperated by comma): 2, 5
5 2

**Program to display sum, difference, quotient, remainder**

In [23]:
x, y = eval(input("Enter two numbers (seperated by comma): "))
print(f"Sum: {x + y}")
print(f"Difference: {x - y}")
print(f"Quotient: {x // y}")
print(f"Remainder: {x % y}")

Enter two numbers (seperated by comma): 5, 2
Sum: 7
Difference: 3
Quotient: 2
Remainder: 1

**Program to convert number of days to years, months and days**

In [24]:
days = int(input("Enter number of days: "))
years = days // 365
days %= 365
months = days // 30
days %= 30
print(f"{years} years, {months} months, {days} days.")

Enter number of days: 396
1 years, 1 months, 1 days.